{% extends 'todoapp/base.html' %}
{% block maincontent %}
{% if todo_list %}
      <div class="table-responsive">
        <table class = "table table-bordered table-responsive">
   <caption>ToDo List</caption>
   <thead>
      <tr>
         <th>ToDo</th>
         <th>Deadline</th>
         <th>Completed</th>
      </tr>
   </thead>

   <tbody>
       {% for todoItem in todo_list %}
           <tr>
           <td>{{todoItem.description}}</td>
           <td>{{todoItem.deadline}}</td>
           <td>{{todoItem.progress}}%</td>
         <td><a href="edit/{{ todoItem.id }}"><button type="button" class="btn btn-warning">Edit</button></a></td>
         <td>
            <a href="delete/{{ todoItem.id }}"><button type="button" class="btn btn-danger">Delete</button></a></td>

           </tr>
    {% endfor %}
   </tbody>
</table>
      </div>
{% else %}
    <p>No polls are available.</p>
{% endif %}
{% endblock %}